/*
.crosssection-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 7px; /* Gets rid of a vertical scroll bar *//*
  z-index: 1000;
  background-color: black;
}

.crosssection-popup .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: black;
}

.crosssection-popup .close-button:hover {
  cursor: pointer;
}

.crosssection-popup .iframe-wrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.crosssection-popup .crosssection-iframe {
  width: 100%;
  height: 100%;
}

.leaflet-popup-pane .leaflet-popup-content {
  color: black;
  text-shadow: 0 1px 0 #f3f3f3;
}

.ui-mobile .ui-page {
  min-height: 100%;
}

.ui-datepicker {
  z-index: 1199 !important
}
*/

.ui-content,
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}
/*.ui-icon-knife after
  background-image url("../images/knife-dashed-line.png")
  background-size 18px 18px
*/
#controls {
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#controls > .ui-block-a {
  width: 25%;
}
#controls > .ui-block-b {
  width: 50%;
}
#controls > .ui-block-c {
  width: 25%;
}
#show-controls {
  position: absolute;
  right: 4.1666%;
  margin-right: -24px;
  margin-bottom: 0.95em;
  bottom: 0;
  z-index: 50;
}
#display-options-menu .ui-slider-track {
  margin-left: 14px;
  margin-right: 14px;
}
#display-options-menu .ui-rangeslider-sliders {
  margin-left: 0;
  margin-right: 0;
}
#slider-wrapper .ui-slider-track {
  margin: 0.5em 8.333%;
}
#slider-wrapper .ui-slider-handle {
  width: 54px;
  height: 32px;
  text-align: center;
  margin: -21px 0 0 -26px;
  padding-top: 3px;
  line-height: 1.1em;
  white-space: normal;
  text-overflow: clip;
}
#display-options-menu {
  position: absolute;
  left: -266.666px;
  top: -30px;
  width: 400px;
  height: 350px;
}
#display-options-menu .ui-popup-arrow-container {
  margin-left: 246.666px;
}
#info-credits-pane {
  position: absolute;
  left: -200px;
  top: -30px;
  width: 300px;
  height: 320px;
}
#info-credits-pane .ui-popup-arrow-container {
  margin-left: 180px;
}
div.space-please {
  margin: 1em 0;
}
h4,
p {
  margin: 0.5em 0;
}
#map-key {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 75;
}
#map-key .key-column {
  min-width: 110px;
}
#map-key .depth-key {
  position: relative;
  padding-left: 30px;
  margin-top: 22px;
}
#map-key .depth-key .depth-gradient {
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f00;
  background-image: linear-gradient(#f00, #ff0, #008000, #00f);
}
#map-key .depth-key .labels p {
  margin-bottom: 27px;
}
#map-key .magnitude-key .magnitude-item {
  position: relative;
  height: 40px;
  padding-left: 60px;
  padding-top: 15px;
}
#map-key .magnitude-key .magnitude-item .magnitude-example {
  border: 1.5px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 25px;
}
@-webkit-keyframes fantastic-entrance {
  0% {
    fill: #fff;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}
#map .leaflet-overlay-pane > svg path[fill-opacity="0.8"] {
  transform-origin: center;
  -moz-transform-origin: center;
  animation: fantastic-entrance 1000ms;
}
@-moz-keyframes fantastic-entrance {
  0% {
    fill: #fff;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}
@-webkit-keyframes fantastic-entrance {
  0% {
    fill: #fff;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}
@-o-keyframes fantastic-entrance {
  0% {
    fill: #fff;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}
@keyframes fantastic-entrance {
  0% {
    fill: #fff;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}

