
.crosssection-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 7px; /* Gets rid of a vertical scroll bar */
  z-index: 1000;
  background-color: black;
}

.crosssection-popup .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: black;
}

.crosssection-popup .close-button:hover {
  cursor: pointer;
}

.crosssection-popup .iframe-wrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.crosssection-popup .crosssection-iframe {
  width: 100%;
  height: 100%;
}

.leaflet-popup-pane .leaflet-popup-content {
  color: black;
  text-shadow: 0 1px 0 #f3f3f3;
}

.ui-mobile .ui-page {
  min-height: 100%;
}

.ui-datepicker {
  z-index: 1199 !important
}

